body {
    margin: 0;
    padding: 0;
    font-family: Cascadia Code, sans-serif;
    background-color: #cce0ff;
}

header {
    background-color: #4ba2a8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007BFF;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
    text-align: center;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.welcome-text {
    flex: 1;
    padding: 20px;
}

.welcome-text h2 {
    margin: 0;
    font-size: 36px;
    color: #003366;
}

.welcome-text p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.welcome-image {
    flex: 1;
    padding: 20px;
}

.welcome-image img {
    width: 400px; 
    height: 400px; 
}
.upload-section {
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-section h2 {
    margin-top: 0;
}

.upload-section form {
    display: flex;
    flex-direction: column;
}

.upload-section label {
    margin-bottom: 10px;
}

.upload-section input[type="file"] {
    margin-bottom: 20px;
}

.upload-section input[type="checkbox"] {
    margin-right: 10px;
}

.upload-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.upload-section button:hover {
    background-color: #555;
}